
        .background{
            
                height:100%;
                background: #c0c3c5;
                /* Mozilla: */
                background: -moz-linear-gradient(top, #808689, #C0C3C5);
                /* Chrome, Safari:*/
                background: -webkit-gradient(linear,
                            left top, left bottom, from(#808689), to(#C0C3C5));
                /* MSIE */
                filter: progid:DXImageTransform.Microsoft.Gradient(
                            StartColorStr='#808689', EndColorStr='#C0C3C5', GradientType=0);
              }
