<template name="all_questions">
    <div class="row">
        <div class="span12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Stadt</th>
                <th>Einwohnerzahl</th>
                <th>Flaeche</th>
                <th>Staat</th>
                <th>ID</th>
				<th>Kuerzel</th>
            </tr>
        </thead>0
        <tbody>
            {{#each question}}
            <tr>
                <td>{{Stadt}}</td>
                <td>{{Einwohnerzahl}}</td>
                <td>{{Flaeche}}</td>
				<td>{{Staat}}</td>
                <td>{{ID}}</td>
                <td>{{kuerzel}}</td>
               
               
				<td>
                    <button class="btn btn-danger btn-mini edit-user"
                        docid="{{_id}}">Bearbeiten</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
</div>
</template>
