<template name="edit_questions">

    <form id="create-user-form" class="form-horizontal">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="stadt">Stadt</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="stadt" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="einwohnerzahl">Einwohnerzahl</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="einwohnerzahl" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="flaeche">Flaeche</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="flaeche" />
                </div>
            </div>
			<div class="control-group">
                <label class="control-label" for="staat">Staat</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="staat" />
                </div>
            </div>
			<div class="control-group">
                <label class="control-label" for="id">ID</label>
                <div class="controls">
                    <input type="text" class="input-xlarge" id="id" />
                </div>
            </div>
			
            


            <div class="form-actions">
                
				<button id="refresh"
    class="btn btn-primary">Aktualisieren</button>
                <button id="user-cancel" class="btn">Abbrechen</button>
            </div>
        </fieldset>

    </form>
</template>
