

<template name="admin">
{{#if isAdmin}}
    {{> questions_navbar}}
	{{loginButtons}}
    <div class="container">
        <div class="row">
            <div class="span6">
                {{> edit_questions}}
            </div>
            <div class="span6">
                {{> search_users}}
            </div>
        </div>
        {{> all_questions}}
    </div>
    {{> users_navbar}}
    <div class="container">
        <div class="row">
            <div class="span6">
               
            </div>
            <div class="span6">
               
            </div>
        </div>
         {{> users}}
    </div>
   
{{/if}}
</template>


<template name="users">

<div class="row">
        <div class="span12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Benutzername</th>
                <th>ID</th>
                <th>Anzahl der User: {{counter}}</th>
            </tr>
        </thead>
        <tbody>
            {{#each user}}
            <tr>
                <td>{{emails}}</td>
                <td>{{username}}</td>
                <td>{{_id}}</td>
              
                <td>
                    <button class="btn btn-danger btn-mini delete-user"
                        docid="{{_id}}">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
</div>



</template>

